/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2016, 18:13:23
    Author     : pasi9
*/
body{
    background: url("../Imagenes/taller-madera.jpeg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

a{
    padding: 5px;
    text-decoration:none;
    color:black;
    font-size: 20px;
    border-radius: 50px;
    background-color: #cc6600;
    border: 3px solid orange;
}
table{
    margin: 0 auto;
    width: 310px;
    background-color: white;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 3px solid #cc6600;
    border-radius: 20px;
}
table th{
    color: #00496B; 
    border-left: 1px solid #E1EEF4;
    font-size: 15px;
    font-weight: normal;
}
strong{
   font-size: 20px;
}