/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2016, 20:50:43
    Author     : pasi9
*/

body{
    background: url("../Imagenes/cajas.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

table{
    margin: 0 auto;
    width: 750px;
    background-color: white;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 3px solid #cc6600;
    border-radius: 20px;
}
table th{
    color: #00496B; 
    border: 1px solid #E1EEF4;
    font-size: 15px;
    font-weight: normal;
}
td{
    border: 1px solid #E1EEF4;
    text-align: left;
}
strong{
   font-size: 20px;
}
a{
    padding: 5px;
    text-decoration:none;
    color:black;
    font-size: 20px;
    border-radius: 50px;
    background-color: #ff9933;
    border: 3px solid #cc6600;
}